body {
    font-size: 1.5em;
    background-image: url(../images/shapes-background1.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;        
    background-size: auto;
}

fieldset {
    background-color: black;
    width: 5in;
    color: white;
    padding-top: 20px;
}

img {
    border: solid;
    border-top-width: thin;
    width: 5in;
}

#time-left {
    font-size: 2em;
}
.hidden {
    display: none;
}





